*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    background-color: #28a745;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    position: fixed;
    
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    text-align: center; 
    padding-right: 100px;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite;
    font-weight: 500;
    padding-bottom: 5px;
    transition: all;
    transition-duration: 300ms;
}

nav div img{
    max-width: 130px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 6.7px;
}

nav ul li a:hover{
    border-bottom: 1px solid #ff9924;
    color: #ff9924;
    
    
}
nav ul li a:active{
    color: #412c00;
    border-bottom: 1px solid #412c00;
}

.list{
    display: flex;
    align-items: center;
    font-size: 28px;
    color: aliceblue;
    margin-right: 50px;
}

.list:hover{
    color: #ff9924;
}
.list:active{
    color: #412c00;
}
.cari{
    display: flex;
    align-items: center;
    color: #28a745;
    font-size: 25px;
    margin-right: 50px;
}

.gentur{
    background-image: linear-gradient(180deg, #0c6320, #55eb77);
    height: 1024px;
    flex-wrap: wrap;
    display: flex;
    width: 768px;
    min-width: 100%;
}

.acp{
    background-color: aliceblue;
    height: 846px;
}
.pic{
    background-color: #0c6320;
    height: 1422px;
}
.berita{
    height: 1290px;
    background-color: #412c00;


}
.medsos{
    height: 555px;
    background-color: blue;
}
.yt{
background-color: #55eb77;
height: 750px;
}
.kontak{
    height: 440px;
    background-color: antiquewhite;

}

.teks{
    padding-top: 125px;
    padding-left: 100px;
    padding-bottom: 124px;
    width: 600px;
    max-height: 1024px;
    justify-content: space-around;
}
.besar{
    color: antiquewhite;    
    padding-bottom: 45px;
    display: flex;
    align-items: center;
    font-size: 46px;
}
.tebal{
    color: aliceblue;
    padding-bottom: 45px;
    font-size: 24px;
}
.kata{
    color: aliceblue;
    padding-bottom: 50px;
    font-size: 20px;
}
.shape {
    background-color: aliceblue;
    padding: 15px;
    border: aliceblue;
    border-radius: 18px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 45px;
}
.kntk {
  
    color: #0c6320;
    font-weight: 500;   
}
.mds {
 
    font-weight: 500;
    color: #0c6320;
}
.npr{
    background-color: #ff9924;
    padding: 15px;
    max-width: 300px;
    border: aliceblue;
    border-radius: 18px;
    display: flex;
    justify-content: center ;
    color: aliceblue; 
    font-weight: 500;    
    text-decoration: none;
}
.gbr-gentur{
    height: 1000px;
    justify-content: left;
    margin-left: auto;
    position:inherit
}
.hp-gentur{
    display: flex;
    height: 476px;
}