*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    background-color: #28a745;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    position: fixed;
    z-index: 10000;
    
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    text-align: center; 
    padding-right: 100px;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite;
    font-weight: 500;
    padding-bottom: 5px;
    transition: all;
    transition-duration: 300ms;
}

nav div img{
    max-width: 130px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 6.7px;
}

nav ul li a:hover{
    border-bottom: 1px solid #ff9924;
    color: #ff9924;
    
    
}
nav ul li a:active{
    color: #412c00;
    border-bottom: 1px solid #412c00;
}

.list{
    display: flex;
    align-items: center;
    font-size: 28px;
    color: aliceblue;
    margin-right: 50px;
}

.list:hover{
    color: #ff9924;
}
.list:active{
    color: #412c00;
}
.cari{
    display: flex;
    align-items: center;
    color: #28a745;
    font-size: 25px;
    margin-right: 50px;
}

.gentur{
    background-image: linear-gradient(180deg, #0c6320, #55eb77);
    height: 1024px;
    flex-wrap: wrap;
    display: flex;
    min-width: 100%;
}

.acp{
    background-color: aliceblue;
    height: 700px;

}




.kosong{
    width: 100%;
    height: 5vw;
}
.bg-pic{
    height: 1200px;
    position: relative;
}
.pic{
    background-color: #3CC95D;
    height: 800px;
    width: 100%; 
    margin-top: 100px; 
    margin-bottom: 19vw; 
    transform: skewY(-20deg);
    border-top: 50px solid #0c6320;
    border-bottom: 50px solid #0c6320;

    position: absolute;
}
.isi-pic{
    position: relative;
    z-index: 1;
    text-align: center;
    color: rgb(0, 0, 0);
    display: flex;
}
/*PIC*/
.kajur{
    height: 820px;
    width: 450px;
    margin-top: 100px;
    margin-left: 80px; 

}
.label-kajur{
    background-color: aliceblue;
    width: 398px;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    border-radius: 23px;
}
.nama-kajur{
    color: #ff9924;
    text-align: center;
    font-size: 24px;
}
.ket-nama-kajur{
    text-align: center;
    font-size: 20px;
}

.teks-pic{
    color: aliceblue;
    margin-top: 100px;
    width: 630px;
    height: 490px; 
    text-align: left;
    margin-left: 100px;
    margin-top: 200px; 
}
.tebal-pic{
    font-size: 32px;
    padding-bottom: 24px;
    font-weight: 700;
    width: 315px; 
}
.kecil-pic{
    font-size: 18px;
    padding-bottom: 25px;
}
.salam-pic{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 25px;
}
.gentur123{
    width: 450px;
}



.berita{
    height: 1200px;
}
.medsos{
    height: 555px;
}
.yt{
    height: 420px;
}
.kontak{
    height: 440px;
    background-color: antiquewhite;

}

.teks{
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 124px;
    width: 600px;
    max-height: 1024px;
    justify-content: space-around;
}
.besar{
    color: antiquewhite;    
    padding-bottom: 45px;
    display: flex;
    align-items: center;
    font-size: 46px;
}
.tebal{
    color: aliceblue;
    padding-bottom: 45px;
    font-size: 24px;
}
.kata{
    color: aliceblue;
    padding-bottom: 50px;
    font-size: 20px;
}
.shape {
    background-color: aliceblue;
    padding: 15px;
    border: aliceblue;
    border-radius: 18px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 45px;
}
.kntk:hover {
  
    color: #0c6320;
    font-weight: 500;  
    background-color: rgb(197, 197, 197);
    border-radius: 8px;
  
}
.kntk {
  
    color: #0c6320;
    font-weight: 500;  
    text-decoration: none; 
}
.mds {
 
    font-weight: 500;
    color: #0c6320;
    text-decoration: none;
}

.mds:hover {
 
    font-weight: 500;
    color: #0c6320;
    background-color: rgb(197, 197, 197);
    border-radius: 8px;
}
.npr{
    background-color: #ff9924;
    padding: 20px;
    max-width: 300px;
    border: aliceblue;
    border-radius: 18px;
    display: flex;
    justify-content: center ;
    color: aliceblue; 
    font-weight: 500;    
    text-decoration: none;
}
.npr:hover{
    background-color: #c7771c;
    padding: 20px;
    max-width: 300px;
    border: aliceblue;
    border-radius: 18px;
    display: flex;
    justify-content: center ;
    color: aliceblue; 
    font-weight: 500;    
    text-decoration: none;
}
.npr:active{
    background-color: #ffffff;
    padding: 20px;
    max-width: 300px;
    border: aliceblue;
    border-radius: 18px;
    display: flex;
    justify-content: center ;
    color: #ff9924; 
    font-weight: 500;    
    text-decoration: none;
}
.gbr-gentur{
    height: 800px;
    justify-content: left;
    margin-left: auto;
    margin-top: 100px;
    position:inherit
}
.hp-gentur{
    display: flex;
    height: 476px;
    min-width: 100%;
}
.hp-gentur1{
    margin-left: auto;
    margin-right: auto;
}

/*KERJA SAMA INDUSTRI*/
.tebal-acp{
    padding-top: 60px;
    text-align: center;
    padding-bottom: 20px;
    font-size: 32px;
}
.kecil-acp{
    max-width: 902px;
    max-height: 81px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
    padding-bottom: 30px;
}

/*AXIOO CLASS PROGRAM*/
.axioo{
    padding: 30px;
    max-width: 800px;
    max-height: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
}
.gbr-axioo{
    text-align: center;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.gbr-axioo2{
    max-width: 269px;
    margin-left: auto;
    margin-right: auto;
}
.tebal-acp2{
    text-align: center;
    padding-bottom: 20px;
}
.kecil-acp2{
    max-width: 722px;
    max-height: 105px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 14px;
    padding-bottom: 20px;
}

/*BERITA*/
.brt{
    text-align: center;
    color: rgba(0, 0, 0, 0.90);
    margin-bottom: 30px;
    font-size: 48px;
}   
.isi-brt{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
}
.all-brt{
    margin-left: auto;
    margin-right: auto;
}
.brt-shape{
    background-color: aliceblue;
    width: 280px;
    height: 450px;
    border-radius: 25px;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gbr-brt{
    width: 280px; 
    max-height: 150px;
    border-radius: 25px 25px 0px 0px; 
    border-bottom: 10px solid #0c6320;
}

.judul-brt{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
.tgl-brt{
    margin-top: 10px;
    margin-left: 10px;
}
.ket-brt{

    margin-top: 10px;
    margin-left: 10px;
}
/*MEDSOS*/
.all-mds{
    width: auto;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.mds-link{
    background-color: aliceblue;
    width: 280px;
    height: 380px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
    color: black;
}
.mds-link:hover{
    background-color: #f1f1f1;
    width: 290px;
    height: 390px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
    color: black;
}
.teks-mds1{
    text-align: center;
    font-size: 48px;

}
.logo-mds{
    font-size: 200px;
    text-align: center;
    color: red;
    margin-bottom: 30px;
}
.teks-mds{
    text-align: center;
    font-size: 18px;
    max-width: 148px;
    max-height: 54px;
    margin-left: auto;
    margin-right: auto;
}

/*LINK VIDEO YOUTUBE TKJ*/
.link-yt{
    width: 560px;
    height: 315px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;


}