
/*jika di buka di hp navbar ilang*/
@media only screen and (max-width : 760px){
    nav ul{
        display: none;
    
    }
} 

/*jika di buka di laptop list ilang*/
@media only screen and (min-width : 760px){
    .list{
        display: none;
        
    }
}

/*jika di buka di hp*/
@media only screen and (max-width : 760px){
    .cari{
       display: none;

    }
}
@media only screen and (max-width : 760px){
    nav div img{
        margin-left: 0px;
        max-width: 240px;
    }
}
@media only screen and (max-width : 760px){
    .list{
        margin-right: 0px;
        font-size: 60px;

    }
}

/*navbar mengecil jika di buka di hp*/
@media only screen and (max-width : 760px){
    nav{
        padding: 30px;

    }
}

/*gambar gentur*/
@media only screen and (max-width : 940px){
    .gbr-gentur{
        display: none;
    }
}
@media only screen and (min-width : 1020px){
    .gbr-gentur1{
        max-width: fit-content;
        max-height: 600px; 
        align-self: end;
        margin-top: auto;
    }
}
@media only screen and (max-width : 1019px){
    .gbr-gentur1{
        max-width: fit-content;
        max-height: 500px; 
        align-self: end;
        margin-top: auto;
    }
}
@media only screen and (min-width : 1200px){
    .gbr-gentur1{
        max-width: fit-content;
        max-height: 900px; 
        align-self: end;
        margin-top: auto;
    }
}

@media only screen and (max-width : 950px){
    .gentur{
        height: 1500px;
    }
}
@media only screen and (min-width :950px){
    .hp-gentur{
        display: none;
    }


}
@media only screen and (min-width : 1240px){
    .hp-gentur{
        height: 800px;
        justify-content: left;
    }
}

@media only screen and (min-width : 950px){
    .hp-gentur1{
        justify-content: right;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media only screen and (min-width : 760px){
    .teks{
        padding-top: 130px;
        
    }
}
