
/*jika di buka di hp navbar ilang*/
@media only screen and (max-width : 760px){
    nav ul{
        display: none;
    
    }
} 

/*jika di buka di laptop list ilang*/
@media only screen and (min-width : 760px){
    .list{
        display: none;
        
    }
}

/*jika di buka di hp*/
@media only screen and (max-width : 760px){
    .cari{
       display: none;

    }
}
@media only screen and (max-width : 760px){
    nav div img{
        margin-left: 0px;
        max-width: 140px;
        padding-left: 10px;
    }
}
@media only screen and (max-width : 760px){
    .list{
        margin-right: 0px;
        font-size: 38px; 
        padding-right: 10px;

    }
}

/*navbar mengecil jika di buka di hp*/
@media only screen and (max-width : 760px){
    nav{
        padding: 12px;

    }
}

/*gambar gentur*/
@media only screen and (max-width : 940px){
    .gbr-gentur{
        display: none;
    }
}
@media only screen and (min-width : 1020px){
    .gbr-gentur1{
        max-width: fit-content;
        max-height: 600px; 
        align-self: end;
        margin-top: auto;
    }
}
@media only screen and (max-width : 1019px){
    .gbr-gentur1{
        max-width: fit-content;
        max-height: 500px; 
        align-self: end;
        margin-top: auto;
    }
}
@media only screen and (min-width : 1200px){
    .gbr-gentur1{
        max-width: fit-content;
        max-height: 900px; 
        align-self: end;
        margin-top: auto;
    }
}

@media only screen and (max-width : 950px){
    .gentur{
        height: 1500px;
        width: 100%;
    }
}
@media only screen and (min-width :950px){
    .hp-gentur{
        display: none;
    }


}
@media only screen and (min-width : 1240px){
    .hp-gentur{
        height: 800px;
        justify-content: left;
    }
}

@media only screen and (min-width : 950px){
    .hp-gentur1{
        justify-content: right;
        margin-left: 0px;
        margin-right: 0px;
    }
}


/*GENTUR DI BUKA DI HP*/
@media only screen and (max-width : 760px){
    .teks{
        padding-top: 98px; 
        padding-left: 20px;   
        max-height: 700px; 
    }
    .besar{
        color: antiquewhite;    
        padding-bottom: 45px;
        display: flex;
        align-items: center;
        font-size: 28px;
    }
    .tebal{
        color: aliceblue;
        padding-bottom: 25px;
        font-size: 16px;
    }
    .kata{
        color: aliceblue;
        padding-bottom: 50px;
        font-size: 12px;
    }
    .shape {
        background-color: aliceblue;
        padding: 15px;
        border: aliceblue;
        border-radius: 18px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 25px;
        width: 200px;
    }
    .npr{
        background-color: #ff9924;
        padding: 15px;
        max-width: 300px;
        border: aliceblue;
        border-radius: 18px;
        display: flex;
        justify-content: center ;
        color: aliceblue; 
        font-weight: 500;    
        text-decoration: none;
    }
    .gentur{
        height: 1000px;
        width: 100%;
    }
    .hp-gentur{
        height: 270px;
    }
}

/*ACP DI BUKA DI HP*/
@media only screen and (max-width : 760px){
    .tebal-acp{
        padding-top: 30px;
        text-align: center;
        padding-bottom: 20px;
        font-size: 14px; 
    }
    .kecil-acp{
        width: 290px;
        max-height: 70px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 12px;
        padding-bottom: 30px;
    }
    /*AXIOO*/
    .axioo{
        padding: 20px;
        max-width: 300px;
        max-height: 380px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;   
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-top: 50px;
        padding-bottom: 60px;
    }
    .gbr-axioo2{
        max-width: 169px;
        margin-left: auto;
        margin-right: auto;
    }
    .tebal-acp2{
        text-align: center;
        padding-bottom: 20px;
    
    }
    .kecil-acp2{
        max-width: 722px;
        max-height: 105px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 10px;
        padding-bottom: 20px;
    }
    .acp{
        background-color: aliceblue;
        height: 600px; 
    }
}